PORT=3000

# HTTP API (chat-api)
REACT_APP_SERVER_URL=http://localhost:5001

# WebSocket (support-rt)
REACT_APP_SOCKET_URL=http://localhost:5040

# Микросервисы периферии
REACT_APP_GEO_URL=http://localhost:5010
REACT_APP_STT_URL=http://localhost:5020
